@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import 'tailwindcss';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';
